{% extends 'base.html' %}


{% block content %}
    <div class="container mt-5">
    <div class="row">
        <div class="col-sm-4">
        <h2>ARTISTAS</h2>
        <h5>Photo of me:</h5>
        <div class="fakeimg">Fake Image</div>
        <p>texto de imagen</p>
        <h3 class="mt-4">Obras</h3>
        <p>otro posible listado de obras</p>
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
            <a class="nav-link active" href="#">link activo</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">obra</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">obra</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Disabled</a>
            </li>
        </ul>
        <hr class="d-sm-none" />
        </div>
        <div class="col-sm-8">
        <h2>titulo uno formulario</h2>
        <h5>pequeña receña de formulario</h5>
        <div class="fakeimg">Fake Image</div>
        <p>Some text..</p>
        <p>
            descripcion
        </p>

        <h2 class="mt-5">TITULO 2</h2>
        <h5>DESCRIPPCION DE TITULO 2</h5>
        <div class="fakeimg">Fake Image</div>
        <p>Some text..</p>
        <p>
            descripccion 2
        </p>
        </div>
    </div>
    </div>
{% endblock %}